@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Permanent marker", sans-serif;
    color: #edebeb;
    background-image: linear-gradient(to right, #845EC2, #225762, #589595);
}

ul {
    list-style: none;
}

nav {
    height: 6.25rem;
    margin: 0 auto;
    background-color: transparent;
    z-index: 2;
}

h1 {
    position: static;
    margin-top: 5rem;
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 3px 3px #3a3a3a;
    text-align: center;
}

#header-buttons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
}

#header-buttons button {
    height: 3.125rem;
    width: 20rem;
    font-family: "Permanent marker";
    font-size: 2rem;
    color: #edebeb;
    text-shadow: 3px 3px #3a3a3a;
    background-color: #845EC2;
    border: 0.2rem solid #3a3a3a;
    margin: 0.25rem 0;
}

#header-buttons button:hover {
    background-color: #589595;
}

#header-buttons li {
    display: block;
}

#game-drop-content {
    display: none;
}

#rules-drop-content {
    display: none;
}

#game-area {
    height: 70vh;
    width: 90vw;
    margin: auto;
    border: 1rem double #3a3a3a;
    z-index: 5;
}